@model Employee

@if (Model != null)
{
    <section>
        <form id="editEmployeeForm" method="post" enctype="multipart/form-data">
            <div class="container-xl">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <div class="text-center">
                                    <input type="text" id="employeeID" name="employeeID" value="@Model.EmployeeID" required hidden />
                                    <h5 class="mt-0 mb-2 text-muted employee-id">@Model.EmployeeID</h5>
                                </div>
                                <img src="@Model.AvatarName" alt="avatar"
                                     id="avatarImageUpdate" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                                <hr />
                                <div class="d-flex justify-content-center mb-2">
                                    <input type="file" class="form-control mb-0" id="imageFileUpdate" name="imageFileUpdate"
                                           accept="image/jpg, image/jpeg, image/png, image/webp" hidden />
                                    <input type="button" class="btn btn-outline-secondary btn-sm" id="imageBtnUpdate" onclick="document.getElementById('imageFileUpdate').click()" value="Upload Your Image" />
                                </div>
                                <div class="row">
                                    <div class="card-body text-center">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="btn btn-danger delete-employee" data-employee-id="@Model.EmployeeID">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="firstName" class="form-label mb-0 required-input">First Name</label>
                                        <input type="text" class="form-control mb-0 employee-firstname-edit" id="firstName" name="firstName" value="@Model.FirstName" required />
                                    </div>
                                    <div class="col-4">
                                        <label for="middleName" class="form-label mb-0">Middle Name</label>
                                        <input type="text" class="form-control mb-0 employee-middle-edit" id="middleName" name="middleName" value="@Model.MiddleName" />
                                    </div>
                                    <div class="col-4">
                                        <label for="lastName" class="form-label mb-0 required-input">Last Name</label>
                                        <input type="text" class="form-control mb-0 employee-lastname-edit" id="lastName" name="lastName" value="@Model.LastName" required />
                                    </div>
                                </div>
                                <hr>
                                <div class="row" id="updateDpPs">
                                    <div class="col-auto">
                                        <label for="departmentName" class="form-label mb-0 required-input">Department</label>
                                        <p id="departmentValue" value="@Model.DepartmentID" hidden></p>
                                        <select class="form-control form-select mb-0" id="departmentName" name="departmentName" required>
                                            <option value="" class="default-department" style="color: gray">Select...</option>
                                            @foreach (var department in ViewData["Departments"] as List<Employee>)
                                            {
                                                if (Model.DepartmentID == department.DepartmentID)
                                                {
                                                    <option value="@department.DepartmentID" selected>@department.DepartmentName</option>
                                                }
                                                else
                                                {
                                                    <option value="@department.DepartmentID">@department.DepartmentName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <label for="positionName" id="positionLabel" class="form-label mb-0 required-input">Position</label>
                                        <p id="positionValue" value="@Model.PositionID" hidden></p>
                                        <select class="form-control form-select mb-0" id="positionName" name="positionName" required>
                                            <option value="" class="default-position"></option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-auto">
                                            <label for="genderUpdate" class="form-label mb-0 form-gender-label">Gender</label>
                                            <p id="genderValue" name="genderValue" value="@Model.Gender" hidden></p>
                                            <select class="form-control form-select mb-0 form-gender-dropdown" id="genderUpdate" name="genderUpdate">
                                                <option value="" class="default-gender">Select...</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <label for="dateOfBirth" class="form-label mb-0">Date of Birth</label>
                                            <input type="date" class="form-control mb-0" id="dateOfBirth" name="dateOfBirth" value="@(Model.DateOfBirth != null ? Model.DateOfBirth.Value.ToString("yyyy-MM-dd") : "")" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-7">
                                            <label for="email" class="form-label mb-0">Email</label>
                                            <input type="text" class="form-control mb-0" id="email" name="email" value="@Model.Email" />
                                        </div>
                                        <div class="col-5">
                                            <label for="phoneNumber" class="form-label mb-0">Phone Number</label>
                                            <input type="text" class="form-control mb-0" id="phoneNumber" name="phoneNumber" value="@Model.PhoneNumber" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-12">
                                        <label for="localAddress" class="form-label mb-0">Address</label>
                                        <input type="text" class="form-control mb-0" id="localAddress" name="localAddress" value="@Model.LocalAddress" />
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-auto">
                                            <label for="startDate" class="form-label mb-0">Start Date</label>
                                            <input type="date" class="form-control mb-0" id="startDate" name="startDate" value="@(Model.StartDate != null ? Model.StartDate.Value.ToString("yyyy-MM-dd") : "")" />
                                        </div>
                                        <div class="col-auto">
                                            <label for="endDate" class="form-label mb-0">End Date</label>
                                            <input type="date" class="form-control mb-0" id="endDate" name="endDate" value="@(Model.EndDate != null ? Model.EndDate.Value.ToString("yyyy-MM-dd") : "")" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="card-body text-center">
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="submit" class="btn btn-success ms-1 update-employee">Update</button>
                                        <button type="button" class="btn btn-secondary ms-1" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
}
else
{
    <p>Employee not found!</p>
}

<!-- Modal showing success-->
<div class="modal fade" id="updateSuccess" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm modal-success" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-lg-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                    <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                </svg>
                <h4 class="text-success mt-3">Updated Successfully!</h4>
                <p class="mt-3"></p>
                <button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-success .modal-content {
        border-radius: 30px;
    }

        .modal-success .modal-content svg {
            width: 100px;
            display: block;
            margin: 0 auto;
        }

        .modal-success .modal-content .path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 0;
        }

            .modal-success .modal-content .path.circle {
                -webkit-animation: dash 0.9s ease-in-out;
                animation: dash 0.9s ease-in-out;
            }

            .modal-success .modal-content .path.line {
                stroke-dashoffset: 1000;
                -webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
                animation: dash 0.95s 0.35s ease-in-out forwards;
            }

            .modal-success .modal-content .path.check {
                stroke-dashoffset: -100;
                -webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
                animation: dash-check 0.95s 0.35s ease-in-out forwards;
            }

    @@-webkit-keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @@keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @@-webkit-keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @@keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @@-webkit-keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }

        100% {
            stroke-dashoffset: 900;
        }
    }

    @@keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }

        100% {
            stroke-dashoffset: 900;
        }
    }
</style>

<script src="~/js/EmployeeJS.js"></script>