@model List<ManagerWebApplication.Models.Employee>

@{
    ViewData["Title"] = "Human Resources";
    List<Employee>? departments = ViewData["Departments"] as List<Employee>;
}

<!DOCTYPE html>
<html>
    <head>
        <meta property="og:image" content="https://tuanle.top/wp-content/uploads/2024/03/hrmanager-featured-img.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:description" content="One of the four for your business. An application of your choice." />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link href="~/css/EmployeeIndex.css" rel="stylesheet" type="text/css">
    </head>

    <body id="index-body">
        <header>
            <div class="header-container">
                <div>
                    <button type="button" class="btn btn-outline-light" onclick="location.replace('/')">Back To Launchpad</button>
                </div>
                <div class="usermenu">
                    <label for="user-menu" class="usermenu-btn" id="username-display">
                        <span id="user-fullname-display"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 12 20">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </label>
                    <input type="checkbox" id="user-menu">
                    <div class="usermenu-options">
                        <label for="user-menu" id="usermenu-edit">Edit Profile</label>
                        <label for="user-menu" id="usermenu-privacy">Change Password</label>
                        <button class="usermenu-privacy-btn" id="userPrivacyBtn" data-bs-toggle="modal" data-bs-target="#privacyModal" hidden></button>
                        <label for="user-menu" id="usermenu-logout" style="border-top: solid 1px white;">Log Out</label>
                    </div>
                </div>
            </div>
        </header>
        <main id="employee-table-index" class="table" style="display: none;">
            <section class="table__header">
                <div class="import__file">
                    <label for="import-file" class="import__file-btn" title="Import File"></label>
                    <input type="checkbox" id="import-file">
                    <div class="import__file-options">
                        <label>&#10140; &nbsp; Import File</label>
                        <label for="import-file" class="temp-down" id="downloadTempFile">&#129095; Template <img src="/hr_images/others/filetemp.svg" alt=""></label>
                        <button class="temp-file-download" id="downloadTemplateFile" data-bs-toggle="modal" data-bs-target="#downloadTemplateFileModal" hidden></button>
                        <label for="import-file" class="emp-upload" id="uploadEmpFile">&#129093; Upload <img src="/hr_images/others/fileadd.svg" alt=""></label>
                        <input type="file" id="employeeFile" name="eFile" style="display: none;" accept=".csv, .xls, .xlsx">
                        <label for="import-file" class="image-upload" id="uploadImageFile">&#129093; Images <img src="/hr_images/others/imageadd.svg" alt=""></label>
                        <button class="emp-img-upload" id="uploadEmployeeImages" data-bs-toggle="modal" data-bs-target="#uploadEmployeeImageBox" hidden></button>
                    </div>
                </div>
                <div class="button-header">
                    <button class="add-em-btn" data-bs-toggle="modal" data-bs-target="#createEmployeeModal" id="addEmployeeBtn">Add Employee</button>
                    <button class="refresh-em-btn" id="refreshEmployeeBtn">Refresh List</button>
                    <button class="column-select-btn" id="columnSelect" data-bs-toggle="modal" data-bs-target="#selectColumnModal">Select Columns</button>
                </div>
                <div class="multiple-select">
                    <button id="btn-multiple" class="mul-select-btn">Multiple Select</button>
                    <div class="dropdown" hidden>
                    <button class="dropdown-bulk-action" id="dropdownBulkAction">Bulk Action &#9660;</button>
                        <div class="bulk-action-menu" id="menuBulkAction">
                            <a class="dropdown-item bulk-del" href="#">Delete</a>
                            <a class="dropdown-item select-all" href="#">Select All</a>
                            <a class="dropdown-item unselect-all" href="#">Unselect All</a>
                        </div>
                    </div>
                </div>
                

                <div class="input-group">
                    <input type="search" placeholder="Search ..." id="searchInput">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <path fill="currentColor" d="m226.83 221.17l-52.7-52.7a84.1 84.1 0 1 0-5.66 5.66l52.7 52.7a4 4 0 0 0 5.66-5.66M36 112a76 76 0 1 1 76 76a76.08 76.08 0 0 1-76-76" />
                    </svg>
                </div>
                <div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Export File"></label>
                    <input type="checkbox" id="export-file">
                    <div class="export__file-options">
                        <label>Export As &nbsp; &#10140;</label>
                        <label for="export-file" id="toXLS">XLS <img src="/hr_images/others/xlsex.png" alt=""></label>
                        <label for="export-file" id="toXLSX">XLSX <img src="/hr_images/others/xlsxex.png" alt=""></label>
                        <label for="export-file" id="toPDF">PDF <img src="/hr_images/others/pdfex.png" alt=""></label>
                        <div id="pdfPrintDiv" style="display:none;"></div>
                        <label for="export-file" id="toCSV">CSV <img src="/hr_images/others/csvex.png" alt=""></label>
                    </div>
                </div>
            </section>
            <section class="tablemain">
                <table id="emp-index-table-main" class="tablehead">
                    <thead class="tablehead sticky-top">
                        <tr>
                            <th></th>
                            <th class="text-center" id="th-employee-id" data-title="EmployeeID">Employee ID <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-firstname" data-title="FirstName">First Name <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-middlename" data-title="MiddleName" hidden>Middle Name <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-lastname" data-title="LastName">Last Name <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-fullname" data-title="FullName" hidden>Full Name <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-gender" data-title="Gender" hidden>Gender <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-dateofbirth" data-title="DateOfBirth">Date Of Birth <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-phonenumber" data-title="PhoneNumber">Phone Number <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-email" data-title="Email" hidden>Email <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-localaddress" data-title="LocalAddress" hidden>Local Address <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-departmentname" data-title="DepartmentName">Department <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-positionname" data-title="PositionName">Position <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-startdate" data-title="StartDate" hidden>Start Date <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center" id="th-employee-enddate" data-title="EndDate" hidden>End Date <span class="icon-arrow">&#8593;</span></th>
                            <th class="text-center">Action <span class="icon-arrow">&#8593;</span></th>
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var employee in Model)
                            {
                                <tr>
                                    <td id="index-row-check"><input type="checkbox" class="row-checkbox" style="display: none;" /></td>
                                    <td class="employee-id text-center" id="employee-id-td" data-title="Employee ID">@employee.EmployeeID</td>
                                    <td class="employee-firstname" id="employee-firstname-td" data-title="First Name">@employee.FirstName</td>
                                    <td class="employee-middlename" id="employee-middlename-td" data-title="Middle Name" hidden>@employee.MiddleName</td>
                                    <td class="employee-lastname" id="employee-lastname-td" data-title="Last Name">@employee.LastName</td>
                                    <td class="employee-fullname" id="employee-fullname-td" data-title="Full Name" hidden>@employee.FullName</td>
                                    <td class="employee-gender" id="employee-gender-td" data-title="Gender" hidden>@employee.Gender</td>
                                    <td class="employee-dateofbirth text-center" id="employee-dateofbirth-td" data-title="Date Of Birth">@employee.DateOfBirth?.ToShortDateString()</td>
                                    <td class="employee-phonenumber text-center" id="employee-phonenumber-td" data-title="Phone Number">@employee.PhoneNumber</td>
                                    <td class="employee-email text-center" id="employee-email-td" data-title="Email" hidden>@employee.Email</td>
                                    <td class="employee-localaddress" id="employee-localaddress-td" data-title="Local Address" hidden>@employee.LocalAddress</td>
                                    <td class="employee-departmentname text-center" id="employee-departmentname-td" data-title="Department">@employee.DepartmentName</td>
                                    <td class="employee-positionname text-center" id="employee-positionname-td" data-title="Position">@employee.PositionName</td>
                                    <td class="employee-startdate text-center" id="employee-startdate-td" data-title="Start Date" hidden>@employee.StartDate?.ToShortDateString()</td>
                                    <td class="employee-enddate text-center" id="employee-enddate-td" data-title="End Date" hidden>@employee.EndDate?.ToShortDateString()</td>
                                    <td id="action-in-table" class="text-center" data-title="Action">
                                        <button id="svg-button" class="btn btn-primary view-employee" data-employee-id="@employee.EmployeeID">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                            </svg>
                                        </button>
                                        <button id="svg-button" class="btn btn-warning edit-employee" data-employee-id="@employee.EmployeeID">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                            </svg>
                                        </button>
                                        <button id="svg-button" class="btn btn-danger delete-employee" data-employee-id="@employee.EmployeeID">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12">
                                    <div>
                                        There is no employee!
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </main>

        <!-- Modal showing creating employee -->
        <div class="modal fade" id="createEmployeeModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="createEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                        <h5 class="modal-title" id="createEmployeeModalLabel">Create Employee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="_CreateEmployeePartial" model="new Employee()" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal showing employee details -->
        <div class="modal fade" id="viewEmployeeModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="viewEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                        <h5 class="modal-title" id="viewEmployeeModalLabel">Employee Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="employeeDetails"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal editing employee details -->
        <div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                        <h5 class="modal-title" id="editEmployeeModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="editEmployee"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal downloading templates -->
        <div class="modal fade" id="downloadTemplateFileModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="downloadTemplateFileModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                    <h5 class="modal-title" id="downloadTemplateFileModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="_DownloadTemplates" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal uploading employee images -->
        <div class="modal fade" id="uploadEmployeeImageBox" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="uploadEmployeeImageBoxLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                        <h5 class="modal-title" id="uploadEmployeeImageBoxLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="_UploadEmployeeImageBox" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal selecting columns -->
        <div class="modal fade" id="selectColumnModal" tabindex="-1" role="dialog" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="selectColumnModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                        <h5 class="modal-title" id="selectColumnModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="_ColumnOptions" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal export warnings -->
        <div class="modal fade" id="exportWarnings" tabindex="-1" role="dialog" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="exportWarningsLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                        <h5 class="modal-title" id="exportWarningsLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p style="font-size: 18px;">If your browser blocks the popups/downloads, please allow them.</p>
                        <p style="font-size: 18px;">These files cannot be used to import employees. You MUST download the templates instead.</p>
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <button type="button" id="continue-export-btn" class="btn btn-success ms-2" data-bs-dismiss="modal" aria-label="Save">Continue</button>
                        <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal showing delete confirmation -->
        <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-sm modal-delete" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center p-lg-4">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                        </svg>
                        <h4 class="text-danger mt-3">Do you really want to delete this employee?</h4>
                        <p class="mt-3">This process cannot be undone.</p>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
                        <button type="button" class="btn btn-danger" id="deleteConfirm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal showing delete success-->
        <div class="modal fade" id="deleteSuccess" tabindex="-1" role="dialog" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-sm modal-delete-success" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center p-lg-4">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                        </svg>
                        <h4 class="text-success mt-3"></h4>
                        <p class="mt-3"></p>
                        <button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal showing upload duplication -->
        <div class="modal fade" id="uploadDuplication" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="uploadDuplicationLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center p-lg-4">
                        <p class="mt-3"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal import employees success-->
        <div class="modal fade" id="importEmployeesSuccess" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-sm modal-success" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center p-lg-4">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                        </svg>
                        <h4 class="text-success mt-3">Import Successfully!</h4>
                        <p class="mt-3"></p>
                        <button type="button" class="btn btn-sm mt-3 btn-success btn-duplicate-done" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal sign up success-->
        <div class="modal fade" id="signUpSuccess" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-sm modal-success" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center p-lg-4">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                        </svg>
                        <h4 class="text-success mt-3">Sign Up Successfully!</h4>
                        <p class="mt-3"></p>
                        <button type="button" class="btn btn-sm mt-3 btn-success btn-duplicate-done" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal privacy -->
        <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="privacyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" hidden>
                        <h5 class="modal-title" id="privacyModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="_UpdatePassword" />
                    </div>
                </div>
            </div>
        </div>

        <script src="~/js/EmployeeJS.js"></script>
    </body>
</html>